.select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding-right: calc(var(--input-padding-x)*2 + var(--icon-size-xxs));
}

.select_container {
    position: relative;
}

.select_icon_container {
    display: flex;
    align-items: center;

    position: absolute;

    top: 0;
    right: var(--input-padding-x);

    height: 100%;

    pointer-events: none;
}