.th_rank, .td_rank {
    width: 10%;
    text-align: center;
}

.th_game, .td_game  {
    text-align: left;
}

.td_game {
    display: flex;
    align-items: center;
    gap: calc(var(--spacing) * 3);
    font-weight: var(--fw-bold);
}

.th_release, .td_release {
    width: 5%;
    text-align: center;
}

.th_platform, .td_platform {
    width: 15%;
    text-align: center;
}

.th_playtime, .td_playtime {
    width: 10%;
    text-align: center;
}

.th_update, .td_update {
    width: 15%;
    text-align: center;
}

.th_like, .th_edit {
    width: 7.5%;
    text-align: center;
}