.search_result {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 6);

    cursor: pointer;
}

.search_result:hover {
    background-color: var(--input-surface-hover);

    .search_result_icon {
        visibility: visible;
    }
}

.search_result_icon {
    visibility: hidden;
}
