.dashboard_layout {
    display: flex;
    gap: var(--margin-page);
}

.dashboard_heading {
    display: flex;
    justify-content: space-between;
    align-items: center;

    /*position: sticky;*/
    /*top: var(--margin-page);*/
    /*z-index: var(--z-index-top);*/

    padding-bottom: calc(var(--margin-page)/2);

    background-color: var(--surface-primary);
}

.dashboard_content {
    width: 100%;

    margin-bottom: var(--margin-page);
}