.table {
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);
    border-collapse: separate;
    border-spacing: 0;

    background-color: var(--surface-secondary);

    th {
        height: calc(var(--spacing) * 10);
        border-bottom: 1px solid var(--border-primary);

        font-weight: var(--fw-bold);
        font-size: var(--fs-small);
        text-transform: uppercase;
    }

    td {
        height: calc(var(--spacing) * 20);

        /*font-weight: var(--fw-bold);*/
    }

    tr:not(:last-child) td {
        border-bottom: 1px solid var(--border-primary);
    }

    th, td {
        padding: calc(var(--spacing) * 2);
    }

    th:first-child, td:first-child {
        padding-left: calc(var(--spacing) * 6);
    }

    th:last-child, td:last-child {
        padding-right: calc(var(--spacing) * 6);
    }
}