.toggle {
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.toggle_active {
    color: var(--toggle_enabled);
}

.toggle_inactive {
    color: var(--toggle_disabled);
}