input[type=text], input[type=date], input[type=number], select {
    height: calc(var(--spacing) * 12);
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);

    padding: 0 var(--input-padding-x);

    color: var(--text-primary);
    background-color: var(--input-background);
}

input[type=text]::placeholder {
    color: var(--text-muted);
}

input:focus, select:focus {
    outline: none;
    border: 1px solid var(--border-brand);
}

input.app_input_text_w_icon {
    padding-left: calc(var(--input-padding-x) + var(--icon-size-sm) + calc(var(--spacing) * 4));
}

.app_input_icon {
    margin-left: var(--input-padding-x);

    color: var(--text-muted);
}

label {
    font-weight: var(--fw-bold);
}

.app_label_container {
    margin-bottom: calc(var(--spacing) * 2);
}