.button_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    transition: var(--transition-global);

    cursor: pointer;

    user-select: none;
}

.button_icon:hover {
    background-color: var(--surface-secondary-hover);
    border-radius: 100%;
}

.button_icon:active {
    background-color: var(--surface-secondary-active);
}