.header {
    display: flex;
    align-items: center;

    height: var(--header-height);

    margin-bottom: var(--margin-page);

    background-color: var(--surface-brand);

    /*backdrop-filter: blur(10px);*/
    /*-webkit-backdrop-filter: blur(10px);*/

    color: var(--text-brand-invert);

    position: sticky;
    top: 0;
    z-index: var(--z-index-header);

    box-shadow: var(--shadow-main);
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}