.header {
    display: flex;
    align-items: center;

    height: var(--header-height);

    margin-bottom: var(--header-margin-bottom);

    background-color: rgba(255, 255, 255, 0.8);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);

    color: var(--text-primary);

    border-bottom: 1px solid var(--border-muted);

    position: sticky;
    top: 0;
    z-index: var(--z-index-header);

    /*box-shadow: var(--shadow-header);*/
}

.header_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}