.header_user {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: calc((var(--spacing) * 2));

    font-weight: var(--fw-bold);
}

.header_user_icon {
    color: var(--text-brand-muted);
}