.sidebar {
    position: sticky;
    top: calc(var(--header-height) + var(--header-margin-bottom));
    height: calc(100vh - 2 * var(--margin-page) - var(--header-height));
    width: 240px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 14);

    color: var(--text-primary);
    font-size: var(--fs-body);
}

.sidebar_category {
    margin-left: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 2);

    font-weight: var(--fw-bold);
    font-size: var(--fs-small);
    text-transform: uppercase;
}

.sidebar_link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--spacing) * 4);

    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);

    border-radius: var(--radius-global);

    transition: var(--transition-global);
}

.sidebar_link:hover, .sidebar_link_current {
    background-color: var(--surface-secondary-hover);
}

.sidebar_link:active {
    background-color: var(--surface-secondary-active);
}

.sidebar_link_inactive {
    color: var(--text-muted);

    cursor: not-allowed;
}