.button {
    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);
    border-radius: var(--radius-global);

    color: var(--text-brand-invert);
    font-weight: var(--fw-black);
    text-transform: uppercase;

    background-color: var(--surface-brand);

    box-shadow: var(--shadow-main);

    transition: var(--transition-global);

    cursor: pointer;
}

.button:hover {
    background-color: var(--surface-brand-hover);
}

.button_icon {
    display: flex;
    justify-content: center;
    align-items: center;

    width: var(--icon-size-xl);
    height: var(--icon-size-xl);

    transition: var(--transition-global);

    cursor: pointer;
}

.button_icon:hover {
    background-color: var(--surface-secondary-hover);
    border-radius: 100%;
}

.button_icon:active {
    background-color: var(--surface-secondary-active);
}

.button_icon_inner {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.button_toggle {
    cursor: pointer;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

.button_toggle_active {
    color: var(--button-primary);
}

.button_toggle_inactive {
    color: var(--button-disabled);
}
