.dashboard_layout {
    display: flex;
    gap: var(--margin-page);

    margin-top: var(--margin-page);
    margin-right: var(--margin-page);
    margin-left: var(--margin-page);
}

.dashboard_content {
    width: 100%;
}

.dashboard_heading {
    font-size: var(--fs-heading);
    font-weight: var(--fw-bold);
}

.dashboard_wrapper_md {
    width: 100%;
    max-width: 720px;
}

.dashboard_wrapper_lg {
    width: 100%;
    max-width: 960px;
}