.input_text {
    height: var(--size-6);
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);

    padding: 0 var(--size-3);

    color: var(--text-primary);
    background-color: var(--input-background);
}

.input_text::placeholder {
    color: var(--text-muted);
}

.input_text:focus {
    outline: 2px solid var(--border-select);
    border: 1px solid transparent;
}

.input_icon {

}