.input_text {
    height: calc(var(--spacing) * 12);
    width: 100%;

    border: 1px solid var(--input-border);
    border-radius: var(--radius-global);

    padding: 0 var(--input-padding-x);

    color: var(--text-primary);
    background-color: var(--input-background);
}

.input_text::placeholder {
    color: var(--text-muted);
}

.input_text:focus {
    outline: 1px solid var(--input-border-select);
    border: 1px solid transparent;
}

.input_text_w_icon {
    padding-left: calc(var(--input-padding-x) + var(--icon-size-md) + calc(var(--spacing) * 4));
}

.input_icon {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
    margin-left: var(--input-padding-x);

    color: var(--text-muted);
}