.sidebar {
    position: sticky;
    top: var(--margin-page);
    height: calc(100vh - 2 * var(--margin-page));
    width: 320px;
    flex-shrink: 0;

    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 14);

    padding: calc(var(--spacing) * 14) calc(var(--spacing) * 10);

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);

    background-color: var(--surface-secondary);

    color: var(--text-primary);
    font-size: var(--fs-body-lg);
}

.sidebar_category {
    margin-left: calc(var(--spacing) * 4);
    margin-bottom: calc(var(--spacing) * 2);

    color: var(--text-muted);
}

.sidebar_link {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: calc(var(--spacing) * 4);

    padding: calc(var(--spacing) * 2) calc(var(--spacing) * 4);

    border-radius: var(--radius-global);

    transition: var(--transition-global);
}

.sidebar_link:hover, .sidebar_link_current {
    background-color: var(--surface-secondary-hover);
}

.sidebar_link_inactive {
    color: var(--text-muted);

    cursor: not-allowed;
}

.sidebar_icon {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}

.sidebar_bottom_gap {
    margin-bottom: calc(var(--spacing) * 14);
}




/* PLACEHOLDER LOGO */
.sidebar_logo_text {
    color: var(--color-neutral-900);
}

.sidebar_logo_icon {
    color: var(--text-brand);
}