.table {
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);
    border-collapse: separate;
    border-spacing: 0;

    background-color: var(--surface-secondary);

    th {
        height: calc(var(--spacing) * 16);
        border-bottom: 1px solid var(--border-primary);

        font-weight: var(--fw-normal);
    }

    td {
        height: calc(var(--spacing) * 20);

        font-weight: var(--fw-bold);
    }

    tr:not(:last-child) td {
        border-bottom: 1px solid var(--border-primary);
    }

    th, td {
        padding: calc(var(--spacing) * 2);
    }
}