
/*BORDER _________________________________________________________________*/

.border-primary {
    border: 1px solid var(--color-grey-400);
}

/*BUTTON _________________________________________________________________*/

.button-primary {
    background-color: var(--color-purple-500);
}

.button-primary-hover {
    background-color: var(--color-purple-400);
}

/*RADIUS _________________________________________________________________*/

.radius-global {
    border-radius: var(--size-1);
}

/*SURFACE _________________________________________________________________*/

.surface-brand {
    background-color: var(--color-purple-500);
}

.surface-primary {
    background-color: var(--color-grey-200);
}

.surface-secondary {
    background-color: var(--color-grey-250);
}

/*TEXT _________________________________________________________________*/

.text-primary {
    color: var(--color-neutral-600);
}

.text-invert {
    color: var(--color-white-100);
}

.text-muted {
    color: var(--color-grey-400)
}

.text-brand {
    color: var(--color-purple-500);
}

.text-brand-muted {
    color: var(--color-purple-200);
}

