:root {

    --spacing: 0.25rem; /* Same as the default Tailwind spacing */

    /*BLUR _________________________________________________________________*/
    --blur-global: 12px;

    /*COLORS _________________________________________________________________*/
    --color-grey-200: #F6F8FA;
    --color-grey-250: #EAEFF4;
    --color-grey-300: #DEE5EC;
    --color-grey-350: #D1DAE3;
    --color-grey-400: #C4CFDA;
    --color-grey-450: #B7C4D1;
    --color-grey-500: #AAB9C8;
    --color-grey-550: #909EAF;
    --color-grey-600: #768495;
    --color-grey-650: #5C6A7B;
    --color-grey-700: #424F61;
    --color-grey-750: #313E4F;
    --color-grey-800: #212E3C;
    --color-grey-850: #141F2A;
    --color-grey-900: #0A1117;

    --color-neutral-600: #515151;
    --color-neutral-800: #353535;

    --color-purple-550: #984FE5;
    --color-purple-500: #AC58FF;
    --color-purple-400: #BC79FF;
    --color-purple-300: #CD9AFF;
    --color-purple-250: #D5ABFF;
    --color-purple-200: #DDBCFF;

    --color-red-400: #f44336;
    --color-red-450: #db3c30;
    --color-red-500: #c3352b;

    --color-white-100: #FFFFFF;

    /*FONT SIZES _________________________________________________________________*/
    --fs-small: 0.75rem; /* 12px */
    --fs-body: 0.875rem; /* 14px */
    --fs-body-lg: 1rem; /* 16px */
    --fs-heading-3: 1.25rem; /* 20px */
    --fs-heading-2: 1.5rem; /* 24px */

    /*FONT WEIGHT _________________________________________________________________*/
    --fw-normal: 400;
    --fw-bold: 600;
    --fw-black: 800;

    /*SHADOW _________________________________________________________________*/
    --shadow-main: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    --shadow-header: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;

    /*TRANSITION _________________________________________________________________*/
    --transition-global: all 75ms ease-in-out;

    /*Z-INDEX _________________________________________________________________*/
    --z-index-header: 5000;
    --z-index-modal: 9999;
}