:root {

    --spacing: 0.25rem; /* Same as the default Tailwind spacing */

    /*BLUR _________________________________________________________________*/
    --blur-global: 12px;

    /*COLORS _________________________________________________________________*/
    --color-grey-200: #F6F8FA;
    --color-grey-250: #EEF1F4;
    --color-grey-300: #E0E6EB;
    --color-grey-350: #C8D0D7;
    --color-grey-400: #BBC3CA;
    --color-grey-450: #AAB3BB;
    --color-grey-500: #969FA8;

    --color-neutral-600: #515151;
    --color-neutral-800: #353535;

    --color-purple-550: #984FE5;
    --color-purple-500: #AC58FF;
    --color-purple-400: #BC79FF;
    --color-purple-300: #CD9AFF;
    --color-purple-250: #D5ABFF;
    --color-purple-200: #DDBCFF;

    --color-white-100: #FFFFFF;

    /*FONT SIZES _________________________________________________________________*/
    --fs-body: 0.875rem; /* 14px */
    --fs-body-lg: 1rem; /* 16px */
    --fs-heading-modal: 1.25rem; /* 20px */
    --fs-heading-dashboard: 1.5rem; /* 24px */

    /*FONT WEIGHT _________________________________________________________________*/
    --fw-normal: 400;
    --fw-bold: 600;
    --fw-black: 800;

    /*SHADOW _________________________________________________________________*/
    --shadow-main: 0px 2px 4px 1px rgba(0, 0, 0, 0.1);

    /*TRANSITION _________________________________________________________________*/
    --transition-global: all 75ms ease-in-out;

    /*Z-INDEX _________________________________________________________________*/
    --z-index-modal: 9999;
}