@import "./primitives.css";

:root {

    /*BUTTON _________________________________________________________________*/


    /*ICON _________________________________________________________________*/
    --icon-size-md: var(--size-3);

    /*INPUT _________________________________________________________________*/
    --input-background: var(--color-white-100);
    --input-background-hover: var(--color-grey-250);
    --input-border: var(--color-grey-400);
    --input-border-select: var(--color-purple-500);
    --input-padding-x: var(--size-3);

    /*MARGIN _________________________________________________________________*/
    --margin-page: var(--size-3);

    /*RADIUS _________________________________________________________________*/
    --radius-global: var(--size-1);

    /*SURFACE _________________________________________________________________*/
    --surface-brand: var(--color-purple-500);
    --surface-brand-hover: var(--color-purple-550);

    --surface-primary: var(--color-grey-200);
    --surface-secondary: var(--color-grey-250);

    /*TABLE _________________________________________________________________*/
    --table-background: var(--color-grey-250);
    --table-border: var(--color-grey-400);

    /*TEXT _________________________________________________________________*/
    --text-primary: var(--color-neutral-600);
    --text-muted: var(--color-grey-400);

    --text-brand: var(--color-purple-500);
    --text-brand-muted: var(--color-purple-250);
    --text-brand-invert: var(--color-white-100);
}