@import "./primitives.css";

:root {
    /*BORDER _________________________________________________________________*/
    --border-primary: var(--color-grey-350);
    --border-brand: var(--color-purple-500);

    /*BUTTON _________________________________________________________________*/
    --button-primary: var(--color-purple-500);
    --button-disabled: var(--color-grey-350);

    /*ICON _________________________________________________________________*/
    --icon-size-sm: calc(var(--spacing) * 6);
    --icon-size-md: calc(var(--spacing) * 8);
    --icon-size-xl: calc(var(--spacing) * 12);

    /*INPUT _________________________________________________________________*/
    --input-background: var(--color-white-100);
    --input-background-hover: var(--color-grey-250);
    --input-padding-x: calc(var(--spacing) * 6);

    /*MARGIN _________________________________________________________________*/
    --margin-page: calc(var(--spacing) * 6);

    /*RADIUS _________________________________________________________________*/
    --radius-global: calc(var(--spacing) * 2);

    /*SURFACE _________________________________________________________________*/
    --surface-brand: var(--color-purple-500);
    --surface-brand-hover: var(--color-purple-550);
    --surface-brand-active: var(--color-purple-600);

    --surface-primary: var(--color-grey-200);
    --surface-secondary: var(--color-grey-250);
    --surface-secondary-hover: var(--color-grey-300);
    --surface-secondary-active: var(--color-grey-350);
    --surface-tertiary: var(--color-grey-300);

    /*TEXT _________________________________________________________________*/
    --text-primary: var(--color-neutral-600);
    --text-muted: var(--color-grey-500);

    --text-brand: var(--color-purple-500);
    --text-brand-muted: var(--color-purple-250);
    --text-brand-invert: var(--color-white-100);
}

/*ICON _________________________________________________________________*/
.app_icon_sm {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
}

.app_icon_md {
    width: var(--icon-size-md);
    height: var(--icon-size-md);
}

.app_icon_xl {
    width: var(--icon-size-xl);
    height: var(--icon-size-xl);
}

/*INPUT _________________________________________________________________*/
.app_input, .app_select {
    height: calc(var(--spacing) * 12);
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);

    padding: 0 var(--input-padding-x);

    color: var(--text-primary);
    background-color: var(--input-background);
}

.app_input::placeholder {
    color: var(--text-muted);
}

.app_input:focus, .app_select:focus {
    outline: none;
    border: 1px solid var(--border-brand);
}

.app_input.app_input_text_w_icon {
    padding-left: calc(var(--input-padding-x) + var(--icon-size-sm) + calc(var(--spacing) * 4));
}

.app_input_icon {
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);

    margin-left: var(--input-padding-x);

    color: var(--text-muted);
}

/*HEADING _________________________________________________________________*/
.app_heading_2 {
    font-size: var(--fs-heading-2);
    font-weight: var(--fw-bold);
}

.app_heading_3 {
    font-size: var(--fs-heading-3);
    font-weight: var(--fw-bold);
}

/*TEXT _________________________________________________________________*/
.app_body_bold {
    font-weight: var(--fw-bold);
}