@import "./primitives.css";

:root {
    /*BORDER _________________________________________________________________*/
    --border-primary: var(--color-grey-350);
    --border-brand: var(--color-purple-500);

    /*BUTTON _________________________________________________________________*/
    --button-primary: var(--color-purple-500);
    --button-disabled: var(--color-grey-350);

    /*ICON _________________________________________________________________*/
    --icon-size-sm: calc(var(--spacing) * 6);
    --icon-size-md: calc(var(--spacing) * 8);
    --icon-size-xl: calc(var(--spacing) * 12);

    /*INPUT _________________________________________________________________*/
    --input-background: var(--color-white-100);
    --input-background-hover: var(--color-grey-250);
    --input-padding-x: calc(var(--spacing) * 6);

    /*MARGIN _________________________________________________________________*/
    --margin-page: calc(var(--spacing) * 6);

    /*RADIUS _________________________________________________________________*/
    --radius-global: calc(var(--spacing) * 2);

    /*SURFACE _________________________________________________________________*/
    --surface-brand: var(--color-purple-500);
    --surface-brand-hover: var(--color-purple-550);
    --surface-brand-active: var(--color-purple-600);

    --surface-primary: var(--color-grey-200);
    --surface-secondary: var(--color-grey-250);
    --surface-secondary-hover: var(--color-grey-300);
    --surface-secondary-active: var(--color-grey-350);
    --surface-tertiary: var(--color-grey-300);

    /*TEXT _________________________________________________________________*/
    --text-primary: var(--color-neutral-600);
    --text-muted: var(--color-grey-500);

    --text-brand: var(--color-purple-500);
    --text-brand-muted: var(--color-purple-250);
    --text-brand-invert: var(--color-white-100);

    /*WRAPPER _________________________________________________________________*/
    --wrapper-xl: 1200px;
    --wrapper-lg: 960px;
    --wrapper-md: 720px;
}