@import "tailwindcss";
@import "../styles/tokens/primitives.css";
@import "../styles/tokens/theme.css";

@theme {
  /*--font-sans: "Inter";*/
  /*--font-mono: var(--font-geist-mono);*/
}

:root {
  --background: var(--surface-primary);
  --foreground: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--text-primary);
    --foreground: var(--surface-primary);
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-body);
}

.body_bold {
  font-weight: var(--fw-bold);
}
