@import "tailwindcss";

/*IMPORT TOKENS _________________________________________________________________*/
@import "../styles/tokens/primitives.css";
@import "../styles/tokens/theme.css";

/*IMPORT APP _________________________________________________________________*/
@import "../styles/app/icon.css";
@import "../styles/app/input.css";
@import "../styles/app/link.css";
@import "../styles/app/text.css";
@import "../styles/app/wrapper.css";

@theme {
  /*--font-sans: "Inter";*/
  /*--font-mono: var(--font-geist-mono);*/
}

:root {
  --background: var(--surface-primary);
  --foreground: var(--text-primary);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--text-primary);
    --foreground: var(--surface-primary);
  }
}

body {
  color: var(--foreground);
  background: var(--background);

  font-family: Arial, Helvetica, sans-serif;
  font-size: var(--fs-body);
}
