@import "tailwindcss";
@import "../styles/tokens/primitives.css";
@import "../styles/tokens/theme.css";

@theme {
  /*--font-sans: "Inter";*/
  /*--font-mono: var(--font-geist-mono);*/
}

:root {
  /*BACKGROUND & FOREGROUND _________________________________________________________________*/
  --background: var(--color-grey-200);
  --foreground: var(--color-neutral-600);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--color-neutral-600);
    --foreground: var(--color-grey-200);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-sans) Arial, Helvetica, sans-serif;

  @apply text-sm
}

