.app_input, .app_select {
    height: calc(var(--spacing) * 10);
    width: 100%;

    border: 1px solid var(--border-primary);
    border-radius: var(--radius-global);

    padding: 0 var(--input-padding-x);

    color: var(--text-primary);
    background-color: var(--input-background);
}

.app_input::placeholder {
    color: var(--text-muted);
}

.app_input:focus, .app_select:focus {
    outline: none;
    border: 1px solid var(--border-brand);
}