.modal_game_content {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: calc(var(--spacing) * 6);
}

.modal_game_cover {
    max-height: 210px;
}

.modal_game_text_content {
    width: 100%;
}

.modal_game_heading {
    margin-bottom: calc(var(--spacing) * 4);
}

.modal_game_heading_date {
    color: var(--text-muted);
}

.modal_game_form {
    display: flex;
    flex-direction: column;
    gap: calc(var(--spacing) * 6);
}

.modal_game_form_row {
    display: flex;
    gap: calc(var(--spacing) * 8);
}

